<!DOCTYPE html>
<html lang="en-us" ng-app="csvUploader">

<head>
<meta charset="utf-8">
<title>Angular File Uploader</title>
<script src="node_modules/aws-sdk/dist/aws-sdk.js"></script>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
<script src="node_modules/angular-route/angular-route.js"></script>
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css" type="text/css" />
<link rel="stylesheet" href="app/styles/style.css" />

<script src="app/index.js"></script>
<script src="app/services/mainService.js"></script>
<script src="app/controllers/listController.js"></script>
<script src="app/controllers/uploadController.js"></script>
<script src="app/controllers/signInController.js"></script>
<script src="app/controllers/menuController.js"></script>
</head>
<body>
  <header>
      <nav class="navbar navbar-default">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="#home">CSV Uploader</a>
          </div>

          <ul class="nav navbar-nav navbar-right" ng-init="isSignedIn = false" 
            ng-controller="menuController as ctrl">
              <li><a href="#home"><i class="fa fa-home"></i> Home</a></li>
              <li ng-if="!ctrl.isSignedIn()"><a href="#sign-in"><i class="fa fa-shield"></i> Sign-in</a></li>
              <li ng-if="ctrl.isSignedIn()"><a href="#" ng-click="ctrl.signOut()"><i class="fa fa-shield"></i> Sign-out</a></li>
              <li><a href="#upload"><i class="fa fa-upload"></i> Upload</a></li>
              <li><a href="#list-files"><i class="fa fa-list"></i> List Files</a></li>
          </ul>
      </div>
      </nav>
  </header>
  
  <div id="main">
    <div ng-view></div>
  </div>

</body>
</html>