<div ng-controller="listController as fileList">
    <fieldset>
        <legend>Your Files</legend>
    	<span>Currently there are {{fileList.localItems.length}} files in your server.</span>
    	<a class="btn btn-primary" href="#upload" role="button">Add More</a>
    
    	<table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th>File Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in fileList.localItems">
              <th scope="row">{{$index + 1}}</th>
              <td>{{item}}</td>
              <td>
                <a href="https://express-service-dkafle.c9users.io/download?filename={{item}}&username={{fileList.username}}" 
                target="_blank">Download</a>
              </td>
            </tr>
          </tbody>
        </table>
    </fieldset>
</div>



<div ng-controller="listController as fileList">
    <fieldset>
        <legend>Files shared in S3</legend>
    	<span>Currently there are {{fileList.items.length}} shared files.</span>
    
    	<table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th>Key</th>
              <th>Size</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in fileList.items">
              <th scope="row">{{$index + 1}}</th>
              <td>{{item.Key}}</td>
              <td>{{item.Size}}</td>
              <td>{{item.LastModified}}</td>
            </tr>
          </tbody>
        </table>
    </fieldset>
</div>
