<div ng-controller="uploadController as uploader" class="file-upload">
<form name="myForm" action="https://express-service-dkafle.c9users.io/upload" 
    method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Upload File</legend>
        <div class="container">
            <div class="input-group">
                <label class="input-group-addon btn btn-default btn-file">
                    Select File 
                    <input type="file" style="display: none;" ngf-select ng-model="picFile" name="file" ngf-pattern="'text/csv'"
                        ngf-accept="'text/csv'"  required>
                </label>
                <input type="text" value="{{picFile.name}}" class="form-control" 
                placeholder="Nothing selected" aria-describedby="basic-addon2" disabled>
            </div>
            <div class="error-message" ng-show="myForm.file.$error.required">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Required
            </div>
        </div>
        <div class="container" ng-show="!myForm.file.$error.required" style="margin-top:25px; margin-bottom:25px;">
            <button type="button" class="btn btn-default btn-lg" ng-click="uploader.submit()">
              <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload
            </button>
        </div>
    </fieldset>
</form>
</div>